<div class="ui segment">
  <h2>Add Pokemon</h2>
</div>

<form class="ui form">
  <div class="two fields">
  <div class="field">
    <label>Name</label>
    <input type="text" name="name">
  </div>

  <div class="field">
    <label>Japanese Name</label>
    <input type="text" name="japanese_name">
  </div>
  </div>

  <div class="two fields">
  <div class="field">
    <label>Japanese Katakana</label>
    <input type="text" name="japanese_katakana">
  </div>
  </div>

  <div class="two fields">
  <div class="field">
    <label>Type primary</label>
    <select name="type_one">
      <option value="">Select a type</option>
    </select>
  </div>

  <div class="field">
    <label>Type secondary</label>
    <select name="type_two">
      <option value="">Select a type</option>
    </select>
  </div>
  </div>

  <div class="two fields">
  <div class="field">
    <label>Habitat</label>
    <select name="habitat">
      <option>Unknown</option>
      <option>Forest</option>
      <option>Fresh Water</option>
      <option>Mountain</option>
    </select>
  </div>
  </div>

  <div class="field">
    <div class="ui center aligned grid">
      <div class="column">
        <button class="ui green button" type="submit">Add to Pokedex</button>
      </div>
    </div>
  </div>
</form>